nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--navBackground-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

nav > img {
  height: 5rem;
}

nav > section {
  display: flex;
  flex-direction: column;
}

nav > section > button {
  margin: 0.25rem;
  background-color: var(--secondary-color);
  padding: 0.5rem;
}
